@import "vars";
@import "mixin";

body {
  font-family: "Noto Sans KR", "Nanum Gothic", "Noto Serif", sans-serif;
  margin: 0;
}

#logo {
  display: flex;
  justify-content: center;
  // background-color: #none;
  margin-left: 200px;
  .logoImg {
    background: no-repeat url("../images/common/logo.svg") center;
    width: 140px;
    height: 90px;
  }
}

#header {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  transition: all 0.5s ease;
  // margin: 0 auto;
  &.topFixed {
    position: fixed;
    height: 80px;
    transform: translateY(-80px);
    background-color: rgba(#fff, 0.8);
    #logo {
      .logoImg {
        background-image: url("../images/common/logo-black.svg");
      }
    }
    .greenBar {
      transform: translateY(-300px);
    }
    .optionBox {
      color: #000;
      .searchBox {
        color: #92d050;
      }
      .languageBox {
        .ko {
          color: #bbb;
        }
      }
      .menuBtn {
        .square {
          &:nth-child(1) {
            background-color: #92d050;
          }
          background-color: #000;
        }
      }
    }
  }
  .logoBox {
    display: flex;
    position: relative;
    .greenBar {
      display: block;
      position: absolute;
      width: 10px;
      height: 300px;
      top: -30px;
      left: 120px;
      background-color: #92d050;
      transition: all 0.5s ease;
    }
  }

  .optionBox {
    color: #fff;
    display: flex;
    margin-right: 200px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    .languageBox {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 0.2px;
        height: 15px;
        background-color: #bbb;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
      }
      .en {
        margin-right: 20px;
      }
    }
    .searchBox {
      margin-right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .menuBtn {
      display: flex;
      align-items: center;
      width: 30px;
      height: 30px;
      flex-wrap: wrap;

      .square {
        &:nth-child(1) {
          background-color: #92d050;
        }
        display: block;
        width: 5px;
        height: 5px;
        background-color: #fff;
        margin-right: 5px;
      }
    }
  }
}

#footer {
  height: 30vh;
  padding: 70px 0;
  font-size: 22px;
  a {
    margin: auto;
    color: #bbb;
    font-weight: 300;
  }
  .companyInfo {
    display: flex;
    width: 1600px;
    margin: auto;
    color: #bbb;
    font-weight: 300;
    position: relative;
    .subtitle {
      display: block;
      font-weight: 700;
      color: #92d050;
      margin-bottom: 20px;
    }
    .infoBox {
    }
    .seoul {
      dl {
        display: flex;
        margin-bottom: 20px;
        dt {
          width: 100px;
        }
      }
    }
    .support {
      margin-left: 60px;

      dl {
        display: flex;
        margin-bottom: 20px;
        dt {
          width: 200px;
        }
      }
    }
    .snsIcon {
      position: absolute;
      right: 0;
      width: 150px;
      .iconBox {
        display: flex;
        justify-content: space-between;
        li {
          &:hover {
            i {
              color: #92d050;
            }
          }
          i {
            font-size: 30px;
            transition: all 0.2s ease;
          }
        }
      }
      .policy {
        margin-top: 20px;
        a {
          transition: all 0.2s ease;
          &:after {
            content: "";
            position: absolute;
            width: 95%;
            height: 2px;
            bottom: -10px;
            left: 0;
            background-color: #92d050;
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }
        }
        &:hover {
          a {
            color: #92d050;
            font-weight: 400;
            &:after {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
          }
        }
      }
    }
  }
  .footerBottom {
    display: flex;
    width: 1600px;
    margin: 50px auto 0;
    justify-content: space-between;
    align-items: center;
    .copyright {
      font-weight: 300;
    }
    .newsletter {
      border: 2px solid #92d050;
      background-color: #92d050;
      padding: 20px 30px;
      border-radius: 50px;
      transition: all 0.2s ease;
      &:hover {
        background-color: #fff;
        a {
          color: #92d050;
          transition: all 0.2s ease;
        }
      }
      a {
        color: #fff;
        font-weight: 500;
        span {
          margin-left: 20px;
        }
      }
    }
  }
}
