@import "vars";
@import "mixin";

button {
  border: none;
  background: none;
}

a {
  color: #000;
  text-decoration: none;
}
.banner {
  display: block;
  color: #fff;
  background-color: #92d050;
  padding: 5px 10px;
  width: fit-content;
}

.title {
  font-size: clamp(30px, 10vw, 60px);
  font-weight: 700;
  line-height: 1.25;
}
#mainVisual {
  height: 100vh;
  overflow: hidden;
  .mainBgContainer {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .mainBg {
      display: flex;
      position: relative;
      height: 100vh;
      overflow: hidden;
      transform: scale(1.1);
      iframe {
        display: block;
        position: absolute;
        width: 2000px;
        height: 1300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }
    }
    .mainDesc {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
      top: 50%;
      left: 20%;
      .descSlide {
        display: flex;
        flex-direction: column;
        position: absolute;
        transform: translate(-10%, -50%);
        color: #fff;
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          opacity: 0;
        }
        .small {
          font-size: clamp(1rem, 5vw, 3rem);
          font-weight: 300;
          padding-bottom: 30px;
        }
        .big {
          font-size: clamp(3rem, 10vw, 7rem);
          font-weight: 900;
          padding-bottom: 30px;
        }
      }
    }
  }
}

#who {
  height: 100vh;
  overflow: hidden;
  .whoContainer {
    height: 80%;
    background-color: #ffe345;
    position: relative;
    .whoBgBottomLeft {
      position: absolute;
      background-image: url("../images/contents/who/company_bottom_left_bg.gif");
      background-size: auto;
      width: 11.1458vw;
      height: 17.5521vw;
      bottom: 0;
      background-repeat: no-repeat;
    }
    .whoBgTopLeft {
      position: absolute;
      background-image: url("../images/contents/who/company_top_left_bg.gif");
      background-size: auto;
      width: 50%;
      height: 50%;
      top: 0;
      left: 50px;
      background-repeat: no-repeat;
    }
    .whoBgRight {
      position: absolute;
      background: url("../images/contents/who/company_right_bg.jpg") 100% 0;
      background-size: auto 100%;
      width: 50%;
      height: 100%;
      top: 0;
      right: 0;
      background-repeat: no-repeat;
    }
    .whoBox {
      max-width: 1500px;
      margin: 0 auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .whoDesc {
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
          margin-top: 30px;
        }
        .desc {
          margin-top: 30px;
          font-size: 20px;
          color: #555;
          font-weight: 300;
          line-height: 1.5;
        }
      }
      .whoNumBox {
        margin-top: 50px;
        z-index: 10;
        .numContainer {
          display: flex;
          li {
            padding-right: 80px;
            .numBoxTitle {
              font-size: 20px;
              color: #ff8400;
            }
            .number {
              display: block;
              margin-top: 20px;
              font-size: 90px;
              font-weight: 800;
            }
          }
        }
      }
    }
  }
  .iconContainer {
    padding: 0;
    max-width: 1540px;
    margin: 0 auto;
    .iconArea {
      position: relative;
      padding: 0 70px;
      display: flex;
      .swiperContainer {
        order: 1;
        position: relative;
        margin-top: 30px;
        overflow: hidden;
        ul {
          display: flex;
          li {
            padding: 0 15px;
            text-decoration: none;
            a {
              text-decoration: none;

              .iconBox {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 140px;
                .iconImg {
                  display: flex;
                  margin: auto;
                  width: 80px;
                  height: 80px;
                  opacity: 0.8;
                }
                .iconDesc {
                  display: flex;
                  justify-content: center;
                  color: #000;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 1.25;
                  text-align: center;
                  padding-top: 10px;
                }
              }
            }
          }
        }
      }
      .paginationIcon {
        width: 60px;
        height: 60px;
        border: 1px solid #ccc;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        .arrow {
          font-size: 20px;
          color: #ccc;
        }
      }
      button {
        margin-top: 40px;
        height: fit-content;
        cursor: pointer;
        span {
          display: block;
          margin-top: 20px;
          color: #ccc;
          font-size: 16px;
          font-weight: 700;
        }
      }
      .prev {
        left: 0;
        order: 0;
        margin-right: 30px;
      }

      .next {
        right: 0;
        order: 2;
        margin-left: 30px;
      }
    }
  }
}

#project {
  height: 100vh;
  overflow: hidden;
  .projectTitle {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: relative;
    max-width: 1500px;
    .titleBox {
    }
    .moreBox {
      position: absolute;
      right: 50px;
      bottom: 40px;
      font-size: 20px;
      width: 170px;
      transition: all 0.5s ease-in-out;
      span {
        transition: all 0.5s ease-in-out;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        background-color: #dbedcd;
        opacity: 0.8;
        top: 50%;
        left: 0;
        z-index: -1;
        transform: translate(-50%, -50%);
        transition: transform 0.5s ease;
      }
      &:hover {
        width: 180px;

        span {
          letter-spacing: 0.2em;
        }
        &:before {
          transform: translate(330%, -50%);
        }
      }
    }
  }
  .projectContainer {
    height: calc(100% - 150px);
    position: relative;
    ul {
      display: flex;
      position: relative;
      height: 100%;

      li {
        width: 25%;
        height: 100%;
        position: relative;
        a {
          width: 100%;
          height: 100%;
        }
        &:nth-child(1) {
          width: 25%;
        }
        &:nth-child(2) {
          width: 25%;
        }
        &:nth-child(3) {
          width: 25%;
        }
        &:nth-child(4) {
          width: 25%;
        }

        .bg {
          background-size: contain;
          width: 100%;
          height: 100%;
          position: relative;
          .descBox {
            position: absolute;
            bottom: 50px;
            left: 45px;
            color: #fff;
            .location {
              display: block;
              margin-bottom: 20px;
            }
            .place {
              font-size: 29px;
              font-weight: 700;
              line-height: 1.25;
              word-break: keep-all;
            }
          }
        }
        .bgwide01,
        .bgwide02,
        .bgwide03,
        .bgwide04 {
          position: absolute;
          background: no-repeat
            url("../images/contents/project/project-wide02.jpg");
          top: 0;
          left: 0;
          opacity: 0;
        }

        .bg01 {
          background: no-repeat url("../images/contents/project/project01.jpg");
        }
        .bg02 {
          background: no-repeat url("../images/contents/project/project02.jpg");
        }
        .bg03 {
          background: no-repeat url("../images/contents/project/project03.jpg");
        }
        .bg04 {
          background: no-repeat url("../images/contents/project/project04.jpg");
        }
      }
    }
  }
}

#news {
  height: 120vh;
  overflow: hidden;
  .newsContainer {
    // width: 80%;
    max-width: 1700px;
    margin: auto;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .newsList {
      display: flex;
      justify-content: space-between;
      .newsListBox {
        margin: 0 50px;
        position: relative;
        display: flex;
        flex-basis: 33.33%;

        &:before {
          content: "";
          display: block;
          position: absolute;
          right: -40px;
          top: 0;
          width: 1px;
          height: 100%;
          background-color: #ddd;
        }
        &:nth-last-child(1) {
          &:before {
            display: none;
          }
        }
        .newsTitle {
          margin-top: 20px;
          font-size: 22px;
          font-weight: 500;
          color: #222;
          transition: all 0.5s ease;
          @include multiEllipsis(2, 1.5);
          word-break: keep-all;
        }
        .newsDate {
          display: block;
          margin-top: 20px;
          color: #aaa;
          font-weight: 400;
          font-size: 15px;
        }
        .moreBox {
          // right: 50px;
          // bottom: 40px;
          margin-top: 40px;
          font-size: 20px;
          width: 170px;
          color: #ff8500;
          transition: all 0.5s ease-in-out;
          position: relative;
          span {
            transition: all 0.5s ease-in-out;
          }

          &:before {
            content: "";
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 100px;
            background-color: #fff2e5;
            opacity: 0;
            top: 50%;
            left: 0;
            z-index: -1;
            transform: translate(-50%, -50%);
            transition: all 0.5s ease;
          }
        }
        // hover
        a {
          &:hover {
            .newsTitle {
              color: #92d050;
            }
            .moreBox {
              width: 180px;

              span {
                letter-spacing: 0.2em;
              }
              &:before {
                opacity: 1;
                transform: translate(330%, -50%);
              }
            }
          }
        }
      }
    }
  }
  .snsContainer {
    // width: 77%;
    max-width: 1700px;
    margin: 0 auto;
    height: 40%;
    .snsList {
      display: flex;
      .snsListBox {
        margin: 0 20px;
        display: flex;
        flex-basis: 25%;
        a {
          &:hover {
            .imgBox {
              img {
                transform: scale(1.05);
              }
            }
          }
        }
        &:nth-child(3) {
          .imgLabel {
            background: linear-gradient(
              to bottom,
              rgba(89, 94, 212, 1) 0%,
              rgba(187, 46, 159, 1) 50%,
              rgba(248, 158, 92, 1) 100%
            );
          }
        }
        .imgBox {
          display: flex;
          position: relative;
          overflow: hidden;
          .imgLabel {
            position: absolute;
            display: block;
            left: 30px;
            top: 0;
            height: 80px;
            width: 45px;
            z-index: 10;
            background-color: #f00;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            border-radius: 0 0 100px 100px;
            i {
              bottom: 0;
              color: #fff;
              margin-bottom: 18px;
              font-size: 25px;
            }
          }
          img {
            width: 100%;
            transition: transform 1s ease;
          }
        }
        .descBox {
          display: flex;
          justify-content: center;
          align-items: center;
          .desc {
            padding: 20px;
            font-size: 20px;
            font-weight: 300;
            color: #aaa;
            word-break: keep-all;
            overflow: hidden;
            // white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 1.5;
          }
        }
      }
    }
  }
  .btnContainer {
    height: 20%;
    .moreBox {
      margin-top: 40px;
      font-size: 20px;
      width: 170px;
      color: #ff8500;
      transition: all 0.5s ease-in-out;
      position: relative;
      span {
        transition: all 0.5s ease-in-out;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        background-color: #fff2e5;
        opacity: 0;
        top: 50%;
        left: 0;
        z-index: -1;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;
      }
    }
  }
}

@keyframes circleMoveRight {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(240%, -50%);
  }
}
